%p
  %strong Title:
  = @product.title

%p
  %strong Domain:
  = @product.domain

%p
  %strong Device:
  = @product.device

%p
  %strong Os:
  = @product.os

%p
  %strong Blocks:
  = @product.blocks.size

%p
  %strong Users:
  = @product.users.size