%p
  %strong Title:
  = @product.title

%p
  %strong Domain:
  = @product.domain

%p
  %strong Device:
  = @product.device

%p
  %strong Os:
  = @product.os

%p
  %strong Help Blocks:
  = @product.help_blocks.size

%p
  %strong Service Blocks:
  = @product.service_blocks.size

%p
  %strong Users:
  = @product.users.size